@import './base.css';
.section-divider {
  background: var(--primary-color-green);
  width: 48px;
  height: 3px;
  border-radius: 1.5px;
}
div, p {
  font-family: 'Inter', sans-serif;
  text-align: justify;
}
button, p, h1, h2, h3, div {
  color: #1c1c1c;
}
.subtitle-card {
  margin-top: 1rem;
  border-radius: 8px;
  background-color: var(--card-background-color-grey);
  padding: 24px;
  border-left: 4px solid var(--primary-color-gold);
  margin-bottom: 48px
}
.button {
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
  inline-display: flex;
  padding: 0.65rem 2rem;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}
.secondary-button {
  color: white;
  background-color: var(--primary-color-green);
}
.primary-button {
  background-color: var(--primary-color-gold);
}
.button:hover {
  filter: brightness(0.8); /* 80% brightness = darker */

}

#app {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}
a {
  color: rgb(221, 164, 17);
}

a::hover {
  border-radius :3px;
}

.app-background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px; /* adjust to your graphic */

  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;

  z-index: 0;
  pointer-events: none; /* ensures it doesn't block clicks */
}

.app-content {
  position: relative;
  z-index: 1; /* ensures content sits above */
}

body {
  background-color: #ffffff;
  color: black;
  margin: 0;
}
/* Bottom graphic */
body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 300px; /* 👈 adjust to your image height */

  background: '../assets/Home_page_base_graphic.png' bottom center / cover no-repeat;
  pointer-events: none;
  z-index: -1;
}

.router-view {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-weight: normal;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 48px;
}

.page-container {
  padding: 2rem;
  max-width: 1280px;
}

/* a, */
/* .green { */
/*   text-decoration: none; */
/*   color: hsla(160, 100%, 37%, 1); */
/*   transition: 0.4s; */
/*   padding: 3px; */
/* } */
